body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #333;
    color: #fff;
    padding: 15px;
}

header h1 {
    margin: 0;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

.gallery {
    text-align: center;
    padding: 20px;
}

.gallery h2 {
    margin-bottom: 5px;
}

.image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.image-container img {
    width: 300px;
    height: auto;
    margin: 10px;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 3px;
    position: fixed;
    bottom: 0;
    width: 100%;
}
